#grad {
	background-size: 100%;
	height:100vh;
	background: linear-gradient(blue, grey, black); /* Standard syntax */
	
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

div.main { margin: 0 auto; }
div.comicFooter { margin-bottom: 10px; }
div.comicHeaderAlert { padding: 5px; width: 100%; }
div.comic { clear: both; color: black; }
img.comic { width: 100%; height: auto; }

div.comicNavContainer { margin: 2px 0; }
div.comicPagination { float: left; margin-right: 0; height: 22px; width: 58px; }
a.comicPagination { display: block; height: 22px; width: 58px; }
img.comicPagination { opacity: 0.0; }
/* sprites */
div.nav-first {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -10px;
}
a.nav-first {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -52px;
}
div.nav-prev {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -94px;
}
a.nav-prev {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -136px;
}
div.nav-blog {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -178px;
}
a.nav-blog {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -220px;
}
div.nav-next {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -262px;
}
a.nav-next {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -304px;
}
div.nav-last {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -346px;
}
a.nav-last {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -388px;
}
a.nav-first:hover {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -430px;
}
a.nav-prev:hover {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -472px;
}
a.nav-blog:hover {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -514px;
}
a.nav-next:hover {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -556px;
}
a.nav-last:hover {
  background-image: url(../images/navigation/comicnav-sprites.png);
  background-position: -10px -598px;
}

div.title {color: white;}
div.main { margin: 0 auto; }
div.comicFooter { margin-bottom: 10px; }
div.comicHeaderAlert { padding: 5px; width: 100%; }
div.comic { clear: both; background-color: #fff; color: black; }
img.comic { width: 100%; height: auto; }
img.comicThumb { width: 100%; height: auto; max-width: 320px; padding-top: 20px;}
div.fb-like { padding-top: 5px; padding-right: 2px; }
div.rss, div.fb { padding: 0 4px; }
img.rss, img.fb { width: 20px; height: 20px; }

//*img.comicThumb { width: 100%; height: auto; max-width: 320px; padding-top: 20px;}